<ion-header>
  <ion-toolbar>
    <ion-title>
   
    </ion-title>
  </ion-toolbar>
</ion-header>

  
  
  <ion-content padding>
  <ion-input [(ngModel)]="targetUrl" placeholder="Please enter an RSS/Atom Feed URL"></ion-input>
  <button ion-button  (click)="parseUrl()">Fetch Feed </button>
  
      <ion-list>
  
          <ion-item-sliding *ngFor="let entry of entries">
  
              <ion-item>
                  <a (click)="openUrl(entry)"></a>
              </ion-item>
  
  
          </ion-item-sliding>
  
      </ion-list>
  </ion-content>
